md-content(layout="column").package-finder
	md-toolbar
		.md-toolbar-tools
			h3 JS Library Playground
	md-content(layout="column", layout-margin)
		.add-package
			h4 Add Package
				small.subhead
					| I like
					|  
					a(href="https://rawgit.com/", target="_blank") rawgit
					|  
					| to host libs
			div(layout="row")
				md-input-container.md-block
					label url
					input(name="packagePath", data-ng-model="packageFinder.newPath")
				md-input-container.md-block
					label name
					input(name="packageName", data-ng-model="packageFinder.newName")
				div
					md-button(data-ng-click="packageFinder.addLib()").md-raised Add
		.package-list
			h4 Packages
			div(
				layout,
				data-ng-repeat="pkg in packageFinder.state.packages"
			)
				md-checkbox(
					aria-label="Enable Package",
					ng-model="pkg.on",
					ng-change="packageFinder.toggleLib(pkg)"
				)
				p {{ pkg.name }}
					small.subhead {{ pkg.path }}
